extends layout

block content
  h1.w3-center= "Bem-vindo"
  div.w3-container.w3-center
    p
      a.w3-center(href='/orcidReg' style="color:black")
        button.w3-button.w3-charcoal.w3-padding-small
            i(class="fa fa-search") &nbsp; Registar ORCID
    p
      a.w3-center(href='/users' style="color:black")
        button.w3-button.w3-charcoal.w3-padding-small
            i(class="fa fa-search") &nbsp; Ver lista de utilizadores
  //-
    .w3-col.s4
      .w3-card.w3-light-grey
        ul.w3-ul.w3-card-4
        each user in lista
            li.w3-bar
            img.w3-circle(src='img_avatar.png' style='width:85px' alt='some image')
            .w3-bar-item
              span.w3-large Mike
              br
              span Web Designer
            br
            img.w3-circle(src='img_avatar.png' style='width:85px' alt='some image')
            if user.name
              p.w3-large= user.name
            else 
              p.w3-large= "Sem nome registado!"
            a(href="/" + user.id)= user.id
            br
            br
        h2 Avatar List
        p You can combine w3-ul and the w3-bar classes to create an avatar list:
        ul.w3-ul.w3-card-4
          li.w3-bar
            img.w3-bar-item.w3-circle.w3-hide-small(src='img_avatar2.png' style='width:85px')
            .w3-bar-item
              span.w3-large
              br
              span Web Designer
          li.w3-bar
            img.w3-bar-item.w3-circle.w3-hide-small(src='img_avatar5.png' style='width:85px')
            .w3-bar-item
              span.w3-large Jill
              br
              span Support
          li.w3-bar
            img.w3-bar-item.w3-circle.w3-hide-small(src='img_avatar6.png' style='width:85px')
            .w3-bar-item
              span.w3-large Jane
              br
              span Accountant 
    .w3-col.s4
      p
          
      

  
  
