extends layout

block content
    .w3-row.bkc
        .w3-container
            h1 Detalhes do autor
            .w3-card-4.w3-white
                .w3-container
                    if name
                        p.w3-large= name
                    else
                        p.w3-large Utilizador sem nome registado
                    p.w3-large= id
                    h2 Biografia
                    if biography
                        p.w3-justify= biography
                    else
                        p.w3-large Sem biografia registada
        .w3-container
            h2 Publicações
            if pubs.length > 0
                table(class="w3-table-all w3-card-4")
                    tr
                        th Título
                        th Ver detalhes
                    each pub in pubs
                        tr
                            td=pub.title
                            td
                                button.w3-btn(onclick="window.location.href = \"/" + id + "?idPub=" + pub._id + "\"")
                                    i(class="fa fa-arrow-right")
            else
                p.w3-large Sem publicações registadas
            br
            a.w3-button.w3-white.w3-hover-shadow(href="/users") Voltar atrás
            br