extends layout

block content
    .w3-row.bkc
        .w3-col.m3
            p 
        .w3-col.m6
            .w3-card.w3-light-grey.w3-padding
                if name
                    p.w3-large.w3-center= name
                else
                    p.w3-large.w3-center Sem nome registado
                p.w3-large.w3-center= id
                h2.w3-center Biografia
                if biography
                    p.w3-justify= biography
                else
                    p.w3-large Sem biografia registada
                h2 Publicações
                if pubs.length > 0
                    ul.w3-ul
                        each pub in pubs
                            li
                                a.w3-hover-light-blue(href="/" + id + "?idPub=" + pub._id)= pub.title
                                br
                else
                    p.w3-large Sem publicações registadas
            br
            a.w3-button.w3-white.w3-hover-shadow(href="/users") Voltar atrás
            br